/* @import "https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap"; */

* {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5rem;
}

body {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #4d4e53;
}

.wrap {
  display: grid;
  grid-template-columns: 22% 1fr;
  width: 100%;
  height: auto;
  grid-template-areas: "aside contain";
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed; /* very important for the issue */
  grid-area: aside;
  width: 23.5%; /* very important for the issue */
  height: 100vh;
  border-right: 3px solid #b4b3b3;
}

h2 {
  font-size: 28.8px;
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  font-family: "Open Sans", Arial, sans-serif !important;
}

.quick-link h2 {
  font-size: 28px !important;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif !important;
  margin: 20px 0 15px;
}

.vertnavbar {
  width: 100%; /* very important for the issue */
  height: 90vh; /* very important for the issue */
  position: inherit; /* very important for the issue */
  font-family: "Open Sans", Arial, sans-serif !important;
  overflow-y: auto;
  border-width: 3px solid #ddd;
  text-align: center;
}

.vertnavbar a {
  background-color: #fff;
  color: #4d4e53;
  display: block; /* very important for the issue */
  padding: 12px;
  text-decoration: none; /* very important for the issue */
  border-top: 1px solid black;
  text-align: left;
}

.doc-contain {
  width: 94.1%;
  padding: 0 20px 0 30px;
  grid-area: contain;
}

.line-deco {
  text-decoration: none;
  color: #4d4e53;
}

.doc-contain p {
  padding: 0 20px 10px 55px;
  font-size: 15px;
  width: 95%;
}

li.tab {
  margin: 15px 15px 10px 120px;
}

li.tab2 {
  margin: 15px 15px 10px 70px;
}

code {
  font-size: 12px;
  background-color: #f7f7f7;
  line-height: 2;
  padding: 10px 0;
  margin-left: 75px;
  margin-bottom: auto;
  margin-top: 0;
  display: block;
  font-family: monospace !important;
  border-radius: 5px;
}

